/* * {
  margin: 0;
  padding: 0;
} */

body {
  color: black;
  font-family: sans-serif;
  border-top: 10px solid;
  /* background-image: url("bg-image.png"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

div {
  margin-bottom: 18px;
}

.head-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

header {
  background-color: #093869;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

/* .logo1 {
  width: auto;
  height: 50px;
  margin-right: 10px;
  float: left !important;
} */
.logo2 {
  width: auto;
  height: 60px;
  margin-right: 10px;
  float: right !important;
}

h1 {
  margin: 0;
  display: inline;
  vertical-align: middle;
}

.container {
  width: 1000px;
  margin: auto;
}

.fieldset1 {
  background: whitesmoke;
  margin: 20px;
  height: auto;
  width: auto;
}

.info {
  position: relative;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  background-color: whitesmoke;
}

.input {
  font-size: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="text"] {
  width: 50%;
  padding: 2px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

textarea {
  width: 50%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

select {
  width: 75%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="radio"]:hover,
select:hover,
textarea:hover {
  border-color: #666;
  box-shadow: 0 2px 4px #0000001a;
  margin-right: 10px;
}

.fieldset2 {
  background: whitesmoke;
  margin: 20px;
  height: auto;
  width: auto;
}

h2,
h3,
h4,
h5,
h6 {
  padding-left: 10px;
}
.rating {
  margin-top: 40px;
  border: none;
  float: left;
}

.question-header {
  padding: 100px 100px;
}

.main-question {
  font-size: 22px;
  margin: 10px;
}

.question {
  font-size: 18px;
  margin: 10px;
}
.question-container {
  margin-bottom: 10px;
}

.sub-question {
  margin-bottom: 25px;
}

.submit {
  background-color: #4caf50;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.submit:hover {
  background-color: #45a049;
}
